/* logo-title ---------------------------------------------*/

.logo, .modal-title{
    font-size: 0.8rem;
    display: flex;
    justify-self: start;
    cursor: pointer;
    align-items: center;
    font-family: system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: bold;

    align-items: center;
    justify-content: left;
    margin-left: 15px;
}

.logo-icon{
    font-size: 2.8rem;
    display: flex;
    margin-right: 10px;
}

.logo-icon-offcanvas {
    font-size: 1.5rem;
    margin-right: 7px;
}

.title-offcanvas{
    margin: auto 5% auto 2%;
    font-size: 0.65rem;
    width: 220px;
    display: flex;
    justify-self: start;
    cursor: pointer;
    align-items: center;
    font-family: system-ui,
            -apple-system,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            "Noto Sans",
            "Liberation Sans",
            Arial,
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
    font-weight: bold;
}

.logo-icon-Modal {
    font-size: 3rem;
    margin-right: 10px;
}

/* .btn-group ---------------------------------------------- */

.btn-icon{
    display: flex;
    font-size: 1.4rem;
    margin-left: auto;
}

.btn-group-icon{
    display: flex;
    justify-content: right;
}

.btn-group{
    justify-content: right;   
}

.btn-login {
    display: flex;
    justify-content: right;
    margin-left: auto;
}

.toggle {
    font-size: 0.8rem;
}

/* .navbar-block ---------------------------------------------*/
.jstiufy-content-end{
    justify-content: left;
}

.offcanvas-navbar{
    justify-content: left;
}

.navbar-logo{
    margin-left: 0;
    justify-content: left;
}

.nav-container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: left !important;
}