.login-wallpaper {
display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-container{
    margin-top: 100px;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-bottom: 2rem;
}